/*============================GLOBALS======================*/

body {
    color: black !important;
}

ul {
    list-style: none;
    color: white;
}

li {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}

.containment {
    padding-top: 80px;
    padding-bottom: 30px;
}

.section-3-card .fas,
.section-3-card .fab {
    color: #0d6efd;
}

footer {
    color: white;
}


/*=======================Footer section of the site================*/


/*Spacing the footer list items*/

.footer-section ul li,
.footer-section li+li {
    margin-bottom: 12.5px;
}

.social-icons>li {
    display: inline-block;
    padding: 12px;
}


/*========================Page body section=====================*/

.page-section {
    text-align: center;
}

.page-section-description {
    margin-bottom: 80px;
    padding: 0px 15% 0px 15%;
}

.section-1-card {
    text-align: left;
}

.section-card-heading {
    padding: 10px 0 10px 0;
}

.section-card-description {}

.section-2-card {
    text-align: left;
}

.section-2-image {
    margin-left: -250px;
}

.section-2-col-2 {
    padding: 35% 0 35% 0;
}

.vl {
    margin: 4px 5% 4px 0;
    border-left: 4px solid green;
}

.section-3 {
    background-image: url(https://marketplace.canva.com/EAD2-t6ZSU4/2/0/800w/canva-pyramids-zoom-virtual-background-9zSXjv_m5fA.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    max-height: 30px;
}

.section-3-card {
    text-align: left;
}

.card {
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
}

.card-green {
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(2, 255, 192, 0.31);
}

section-3-card-heading {}